<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">풋볼티어체커</h5>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">개발자</h5>
                <p>이창현, 박진호</p>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">&copy; PLABTierChecker</h5>
                <p>All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
