{% load static %}
{% load socialaccount %}
<header class="bg-white container px-40">
    <nav class="navbar navbar-expand-lg navbar-light  d-flex justify-content-between">
        <a class="navbar-brand font-weight-bold" href="/">플랩TierChecker</a>
        <div class="d-flex justify-content-end align-items-center" id="navbarSupportedContent">
            <div class="input-group mr-2" style="width: 350px;" >
                <input type="text" class="form-control bg-light" placeholder="회원, 팀 이름으로 찾기" aria-label="회원 또는 팀을 입력하세요." aria-describedby="button-addon2" maxlength="100" autocomplete="off">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
            </div>
            <div alt="Main tab" class="flex justify-center">
                <!-- 로그인 전에만 카카오 로그인 링크 표시 -->
            {% if not request.user.is_authenticated %}
                <a href="{% provider_login_url 'kakao' %}">
                    <img src="{% static 'images/ic_my.svg' %}" alt="My Image" style="width: 24px; height: 24px;">
                </a>
            {% else %}
                <!-- 로그인 후에 추가 링크 표시 -->
                <a href="/">
                    <img src="{% static 'images/ic_club.svg' %}" alt="My club" style="width: 24px; height: 24px">
                </a>
                <a href="/">
                    <img src="{% static 'images/ic_mymatch.svg' %}" alt="My Match" style="width: 24px; height: 24px;">
                </a>
                <a href="/mypage">
                    <img src="{% static 'images/ic_my.svg' %}" alt="My Image" style="width: 24px; height: 24px;">
                </a>
            {% endif %}
            </div>
        </div>
    </nav>
</header>
