{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto bg-white pt-10">
    <!--상단-->
    <div class="flex justify-between items-start p-4">
        <div class="flex items-center">
            {% if profile_image %}
            <img src="{{ profile_image}}" alt="플레이어 이미지" class="h-24 w-24 rounded-full mr-4">
            {% else %}
            <img src="{% static 'images/default_image.png'%}" alt="플레이어 이미지" class="h-24 w-24 rounded-full mr-4">
            {% endif %}
            <div class="flex">
                <h2 class="text-4xl  font-extrabold">{{player.user.username}}</h2>
                {% if player.player_path %}
                <p class="text-gray-600 text-4xl">#{{player.player_path}}</p>
                {% else %}
                <p class="text-gray-600 text-4xl">#{{player.id}}</p>
                {% endif %}
            </div>
        </div>
        <div class="w-80">
            <div class="flex flex-row">
                <div class="w-24 mr-2"></div>
                <button id="socialMatchBtn" class="focus:outline-none font-bold pr-2 rounded">소셜매치</button>
                <p>|</p>
                <button id="teamMatchBtn" class="focus:outline-none text-gray-400 font-bold pl-2 rounded">팀매치</button>
            </div>
            <div class="flex flex-row">
                <img id ="socialMatchTier" src="{% static 'images/'|add:player_tier_en|add:'.png' %}" alt="티어 이미지" class="h-28 w-24 mr-2">
                <div id="socialMatchSection" class="flex flex-row justify-center">
                    <div class="flex flex-col justify-center items-start">
                        <p class="text-xl font-bold mb-1">{{player_tier_ko}} </p>
                        <p class="text-gray-600 text-xs mb-0.5">{{player_info.point}}P</p>
                        <p class="text-gray-600 text-xs">{{player_info.game_participation_count}} Match</p>
                    </div>
                </div>
            </div>
            <div class="flex flex-row">
                <img id="teamMatchTier" src="{% static 'images/rookie1.png' %}" alt="티어 이미지" class="h-28 w-24 mr-2" style="display: none;">
                <div id="teamMatchSection" class="flex flex-row justify-center" style="display: none;">
                    <div class="flex flex-col justify-center items-start">
                        <p class="text-xl font-bold mb-1">루키 </p>
                        <p class="text-gray-600 text-xs mb-0.5">0 P</p>
                        <p class="text-gray-600 text-xs">0 Match</p>
                    </div>
                </div>
            </div>
            <div class="flex flex-row">
                <div class="w-24 mr-2"></div>
                <p class="text-black font-bold text-xs bg-gray-300 inline-block rounded p-1">S23 {{player_tier_ko}}</p>
            </div>
        </div>
    </div>
    <!--중단-->
    <div class="p-4 ">
        <nav class="flex border-b">
            <a href="#" class="text-blue-500 py-2 px-4">연간지표</a>
            <a href="#" class="text-blue-500 py-2 px-4">월간지표</a>
            <a href="#" class="text-blue-500 py-2 px-4">일간지표</a>
        </nav>
        <!-- 차트 컨테이너, Echarts 적용 -->
        <div id="chartContainer" style="height: 400px;"></div>
    </div>
    <!--하단-->
    <div class="p-4 mb-4 ">
        <h3 class="text-xl font-bold mb-4">경기 기록</h3>
        <table class="min-w-full">
            <thead>
            <tr class="border-b">
                <th class="px-4 py-2">날짜</th>
                <th class="px-4 py-2">플레이어</th>
                <th class="px-4 py-2">점수</th>
                <!-- 기타 필드 -->
            </tr>
            </thead>
            <tbody>
            <!-- 경기 데이터 반복 -->
            <tr class="border-b">
                <td class="px-4 py-2">2023-01-01</td>
                <td class="px-4 py-2">홍길동</td>
                <td class="px-4 py-2">100P</td>
                <!-- 기타 필드 -->
            </tr>
            <!-- 반복 끝 -->
            </tbody>
        </table>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // 소셜 매치 버튼 클릭 시
    $("#socialMatchBtn").click(function() {
        // 소셜 매치 섹션
        $("#socialMatchSection").css("display", "");
        $("#socialMatchTier").css("display", "");
        $("#socialMatchBtn").removeClass("text-gray-400");
        $("#socialMatchBtn").addClass("text-black");
        // 팀 매치 섹션
        $("#teamMatchSection").css("display", "none");
        $("#teamMatchTier").css("display", "none");
        $("#teamMatchBtn").removeClass("text-black");
        $("#teamMatchBtn").addClass("text-gray-400");
    });

    // 팀 매치 버튼 클릭 시
    $("#teamMatchBtn").click(function() {
        console.log("팀 매치 버튼 클릭");
        // 팀 매치 섹션을 보이게 하고
        $("#teamMatchSection").css("display", "");
        $("#teamMatchTier").css("display", "");
        $("#teamMatchBtn").removeClass("text-gray-400");
        $("#teamMatchBtn").addClass("text-black");
        // 소셜 매치 섹션을 숨김
        $("#socialMatchSection").css("display", "none");
        $("#socialMatchTier").css("display", "none");
        $("#socialMatchBtn").removeClass("text-black");
        $("#socialMatchBtn").addClass("text-gray-400");

    });
});

</script>
{% endblock %}